body {
    margin: 0px;
    padding: 0px;
    background: E5E5E5;
}
.container {
    margin: auto;
    width: 960px;
    height: 800px;
    padding: 5px;
    background: #E5E5E5;
}
.logo {
    width: 100%;
    float: left;
    background: #E5E5E5;
}
.logoImg {
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}
.logoTitle {
    float: left;
    margin-left: 20%;    
}
.left {
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    background: #E5E5E5;
}
.textInput {
    float: left;
    margin: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #E5E5E5;
}
.right {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #ffffff;
}
#imagenDerecha{
    margin-top: 20%;
    width: 90%;
    height: auto;
    margin-left: 2%

}
#texto{
    margin-left: 7%;
    margin-right: 7%;
}
#texto2{
    float: left;
    margin: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255);

}
#Copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
}
.leftButtons {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: #E5E5E5;
}
#pie{
color: #0A3871;
}
#btnEncriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
    color: #ffffff;
    font-size: 20px;
}
#btnDesencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
    color: #000000;
    font-size: 20px;
}
#footer{
    float: left;
    margin-left: 20%;
    font-size:20px;
    color: darkblue;
    background: #E5E5E5;

}